# ======================
# Python
# ======================

venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# ======================
# Environment
# ======================

.env

# ======================
# Django
# ======================

staticfiles/
media/
*.log

# ======================
# VS Code
# ======================

.vscode/

# ======================
# Mac
# ======================

.DS_Store

# ======================
# React (if frontend inside same repo)
# ======================

node_modules/
build/
dist/